@import url('https://fonts.googleapis.com/css?family=Archivo|Fredoka+One|Gentium+Basic|Neuton|Permanent+Marker|Viga&display=swap');

/* font-family: 'Fredoka One', cursive; */
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Viga', sans-serif; */
/* font-family: 'Archivo', sans-serif; */
/* font-family: 'Neuton', serif; */
/* font-family: 'Gentium Basic', serif; */

:root {
    --color-dark: #181329; 	/* hsl(254, 37%, 12%) */
    --color-dark-hsl: 254, 37%, 12%;
    --color-mid: hsl(254, 10%, 55%);
    --color-mid-hsl: 254, 10%, 55%;
    --color-danger: hsl(353, 90%, 65%);
    --color-light: whitesmoke;
}

.font-fantasy {
    font-family: 'Permanent Marker', cursive;
}

.font-serif {
    font-family: 'Gentium Basic', serif;
}

.font-sans {
    font-family: 'Fredoka One', cursive;
}

.bg-color-dark {
    background-color: var(--color-dark);
}

.bg-color-danger {
    background-color: var(--color-danger);
}

.bg-color-light {
    color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.color-danger {
    color: var(--color-danger);
}

.color-light {
    color: var(--color-light);
}

.bg-mid-trans {
    background-color: hsla(var(--color-mid-hsl),0.7);
    backdrop-filter: blur(8px);
}
.bg-dark-trans {
    background-color: hsla(var(--color-dark-hsl),0.5);
    backdrop-filter: blur(4px);
}

body {
    font-size: 1rem;
    background-color: var(--color-dark);



    /* For nav */
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    /* padding-top: 140px; */
    /* transition: padding-top 0.5s ease; */
}
header {
    margin-top: 0;
    width: 100%;
    /* height: 140px; */
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 9999 !important;
    line-height: 80px;

  }
  header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    color: #fff;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: 100;
    /* transition: all 2s ease; */
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.75));
  }
  header nav {
    /* position: absolute; */
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
  }
    header div a {
    /* line-height: 80px; */
    /* height: 1.5rem; */
    }


    .first-content {
        margin-top: 250px;
    }



  header a, button, .btn {
    color: var(--color-light);
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    /* filter: drop-shadow(0px, 2px, 6px, 5px, black); */
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.75));
  }
  header a:hover, button:hover, .btn:hover {
    background-color: hsla(var(--color-dark-hsl),0.7);
    box-shadow: 0 0 0 1px var(--color-danger);
    text-decoration: none;
    color: var(--color-danger);
  }

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
    /* padding-top: 60px; */
}
body.sticky-header header {
    /* position: fixed; */
    margin-top: -80px;
    /* height: 60px; */
    /* background-color: rgba(52, 152, 219, 0.9); */
}
body.sticky-header header h1 {
/* transform: scale(1, 0); */
}
    
.nav-trans {
    /* background-color: rgba(0, 0, 0, 0.0); */
}

.nav-opaque {
    background-color: hsla(var(--color-dark-hsl),0.7);
    backdrop-filter: blur(8px);
}

header .input-group {
    margin-bottom: 1px !important;
}


.placeholder {
    height: 300vh;
    /* background-color: yellow; */
}

.nav-search {
    width: 345px !important;
}
.nav-user {
    width: 345px !important;
    line-height: 1.2rem;
}


/* Footer */
footer h3 {
    font-family: 'Fredoka One', cursive;
    color: var(--color-danger);
}

footer div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13rem;
}

footer a {
    text-decoration: none;
    color: var(--color-light);
}

footer a:hover {
    text-decoration: none;
    color: var(--color-danger);
}


/* Connexion Modal */


.modal {
    /* height: 370px; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* width: 400px; */
    font-size: .75rem;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
    border: 1px solid var(--color-danger);
}

.modal-header h3 {
    color: white;
}

.input-group-prepend span, .input-group-append span  {
    /* width: 50px; */
    background-color: var(--color-danger);
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

/* .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    border-radius: 5px;
} */

.btn-login {
    /* color: black; */
    /* background-color: #FFC312; */
    /* width: 100px; */
    /* border: 1px solid var(--color-danger); */
    border: 1px solid hsla(353, 90%, 65%, 0.25);
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    color: var(--color-danger);
    margin-left: 4px;
}

.btn-close {
    color: var(--color-light);
    -webkit-appearance: none;
    padding: 0px;
    border: 0;
    background-color: transparent;
    opacity: 1;
    font-size: 1.5rem;
    float: right;
}

.btn-close:hover {
    color: var(--color-danger);
    font-size: 1.5rem;
    border: 0 solid transparent !important;
}

/* Film Modal */


.modal-film h5 {
    color: white;
}

.modal-film .modal-header {
    background-size: cover;
    background-position: center;
    min-height: 300px;
    max-height: 600px;
    height: 45vh;
}

.modal-film .modal-dialog {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 200px;
    /* width: 800px; */
}

.modal-film .modal-content {
    width: 80vw;
}





/* JJJ's sexier checkboxes */

.remember {
    margin-left: 0;
    line-height: 21px;
}

input[type='radio'], 
input[type='checkbox'] {
    
    opacity: 0;
    
    float: left;
    width: 25px;
}


input[type='radio'] + span,
input[type='checkbox'] + span {
    display: inline-block;
    margin-left: -25px;
    padding-left: 25px;
    clear: none;
    height: 20px;
    
    /* Left padding makes room for image */
    /* padding: 5px 0 4px 24px; */
    /* padding: 5px 0 4px 25px; */
    
    /* Make look clickable because they are */
    /* background-color: transparent; */
    background: url(../img/checkbox.svg) left center no-repeat; 
    cursor: pointer;
    
}

/* Checked images */
input[type='radio']:checked + span {
    background-image: url(../img/checkbox_checked.svg); /* TODO : Refaire un svg pour les radios */
}
input[type='checkbox']:checked + span {
    background-image: url(../img/checkbox_checked.svg);
}



/*
.filters-expanded {
    height: 0;
    opacity : 0;
}
.filters {
    height: auto !important;
    opacity : 1 !important;
    background-color: hsl(353, 90%, 65%);
}
*/




/* Film Cards */


.slick-container {
    /* width:80%; */
    margin: 0 auto;
    height: calc(360+2rem);
    overflow: hidden;
}

.film-card {
    width: 240px !important;
    height: 360px !important;
    background-color: transparent;
    background-image: url('../img/posters/poster1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    margin: 1rem 0.5rem;
}

table {
    border-collapse: separate;
    border-spacing: 0 3px;
    text-align: center;
}

table img {
    height: 100%;
    width: auto;
    max-height: 80px;
    /* border-radius: 15px; */
}

table tr, table th {
    /* border-radius: 15px; */
    background-color: hsla(254, 10%, 25%, 0.5);
}


td:first-child, td:last-child {
    background-color: hsl(254, 10%, 25%);
}
td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


table tr td, table th {

    /* background-color: hsla(var(--color-dark-hsl),0.9); */
    padding: 10px 15px;
}

.td-poster {
    /* box-sizing: border-box; */
    padding: 0;
    overflow: hidden;
}

td span {
    background-color: hsl(254, 10%, 55%);
    color: black;
    border-radius: 4px;
    margin: 2px;
    padding: 1px 3px;
    font-weight: bold;

}